/*公共样式*/
*{margin: 0;padding: 0;}
body{font-family: "Microsoft Yahei"}
a{text-decoration: none;}
/*头部*/
.sevenoneseven{min-width: 1200px;height: 100%;margin: 0 auto;background: url('images/bg.jpg') repeat-y 100% center;}
.head1{min-width: 1200px;display: block;height:360px;background: url("images/head1.jpg") no-repeat center}
.head2{min-width: 1200px;display: block;height:365px;background: url("images/head2.jpg") no-repeat center}
/*约会女神*/
.dategirl{position:relative;}
.girlbox{display: block;    margin:0 auto;height:740px;background: url("images/dategirl.jpg") no-repeat center}
/*抽奖*/
/*.lotteryposition{position: absolute; top: 0;}*/
.lotterybox{position: relative;left: 5px;margin: 0 auto;width: 665px;height: 444px;padding-top: 150px;}
.lotterybox ul{position: absolute;margin: 0 auto;width: 700px;}
.lotterybox ul li{float:left;width:230px;height: 230px;list-style: none;}
.lottery4{position: relative;left: -10px;}
.lottery5{position: relative;left: -10px;}
/*.lottery1 img{}*/
/*.appointment{display: block;padding: 10px 30px;margin: 0 auto;width: 200px;background: blue;border-style: none;color: white;font-size: 20px;}*/
/*.hide{margin: 0 auto;position: relative;top: -503px;width: 1200px;height: 457px;}*/
/*.hide ul{margin: 0 auto;width: 700px;}*/
/*.hide ul li{float:left;width:233px;height: 233px;list-style: none; }*/
/*.hidecolor{background-color: #000;opacity: 0.8;}*/
/*.hide5{background-color: #fff; opacity: 0;}*/
#godate{position: relative; display: block;  top: 470px;  margin: 0 auto;  width: 250px;  height: 55px;  background-color: #0172ff;  border: 6px solid #0327df;  box-shadow: inset 0 0 7px #006391,0 0 22px #006391;  border-radius: 20px;  font-size: 32px;  color: #fff;outline: none;}
/*抽奖结束*/
/*活动说明*/
.explain{height: 481px; background: url("images/explain.jpg") no-repeat center}

/*约啪攻略*/
.strategy1{display: block;margin: 0 auto;height:298px;background: url("images/strategy1.jpg") no-repeat center}
.strategy2{display: block;margin: 0 auto;height:370px;background: url("images/strategy2-1.jpg") no-repeat center}
.strategy2 ul{margin: 0 auto 0 auto; padding: 18px 0 0 90px; width: 700px;}
.strategy2 ul li{top: 20px;list-style: none; height: 90px;}
.strategy2 ul li a{display: block;height:90px;}
.strategy3{display: block;margin: 0 auto;height:242px;background: url("images/strategy3.jpg") no-repeat center}
/*空姐*/
.airtitle{height:408px;background: url("images/airtitle.jpg") no-repeat center}
.aircontent{position: relative;margin: 0 auto;width: 1208px;height: 825px;background: url("images/air2.jpg") no-repeat center}
.airproduct1{position: absolute;  display: block;top: 160px;  left: 30px;  width: 390px;  height: 430px;}
.airproduct1 img{position: relative;  left: 90px;}
.airchange1{position: relative;  top: -10px;  left: 10px;  width: 62px;  font-size: 16px;  color: #fff;  }
.airname1{position: relative;  top: -38px;  left: 150px;  color: #fff;  font-size: 33px;  font-weight: 600;}
.airadve1{position: relative;left: 160px;top: -30px;color: #fff;font-size: 21px;}
.airbuy1{position: relative;left: 120px;top: -15px;color: #ffd800;}
.airbuy1 span{font-size: 28px;}
.airbuy1 label{font-size: 50px;text-shadow: 0 0 20px #fed700;font-weight: 900;}
.airproduct2{position: absolute;  display: block;top: -35px;  left: 422px;  width: 320px;  height: 340px;}
.airproduct2 img{position: relative;left: 25px;
}
.airchange2{position: relative;left: 259px;  top: 39px;  width: 62px;  font-size: 16px;  color: #fff;}
.airname2{display: block;  position: relative;      top: -12px;left: 50px;  padding-bottom: 3px;  color: #fff;  font-size: 26px;  font-weight: 600;}
.airadve2{position: relative;      top: -12px;left: 70px;  font-size: 18px;  color: #fff;}
.airbuy2{position: relative;  left: 48px;  color: #fed700;}
.airbuy2 span{font-size: 23px;}
.airbuy2 label{font-size: 39px;font-weight: 900;  text-shadow: 0 0 20px #fed700;}
.airproduct3{position: absolute;display: block;top: 4px;  left: 851px;  width: 354px;  height: 412px;}
.airproduct3 img{}
.airchange3{position: relative;left: 291px;  top: -2px;  width: 62px;  font-size: 16px;  color: #fff;}
.airname3{position: relative;  display: block;  color: #fff;  font-size: 30px;  font-weight: 600;}
.airadve3{color: #fff; font-size: 24px;}
.airbuy3{position: relative;top: 17px;color: #fed700; }
.airbuy3 span{font-size: 29px;}
.airbuy3 label{font-size: 50px;font-weight: 900; text-shadow: 0 0 20px #fed700;}
.airproduct4{position: absolute;display: block; top: 457px;  left: 507px;  width: 371px;  height: 292px;}
.airproduct4 img{position: relative; left: 100px;}
.airchange4{position: relative; top: -42px; left: 8px; width: 62px;font-size: 16px;color: #fff;}
.airname4{display: block;  position: relative;  left: 125px;  top: -36px;  padding-bottom: 3px;  color: #fff;  font-size: 26px;  font-weight: 600;}
.airadve4{position: relative;  left: 110px;  top: -34px;  font-size: 18px;  color: #fff;}
.airbuy4{position: relative; left: 90px; top: -32px; color: #fed700;}
.airbuy4 span{font-size: 23px;}
.airbuy4 label{ font-size: 39px; font-weight: 900; text-shadow: 0 0 20px #fed700;}

/*兔女郎*/
.rabbitgirl{height: 1539px;background: url("images/rabbitbg.jpg") no-repeat center}
.rabbitgirl ul{position: relative;margin: 0 auto;width: 1235px;overflow: hidden;padding-top:100px;}
.rabbitgirl ul li{position: relative;float:left;list-style: none;}
.m418{margin-left: 418px;}
.m316{margin-left: 316px; }
.m204{margin-left: 204px; }
.rabbit-1{top: 110px;
    left: 108px;}
.rabbit-2{    left: 199px;top: 110px;}
.rabbit-3{top: 130px;left: 4px;}
.rabbit-4{top: 130px;left: 58px;}
.rabbit-5{top: 140px;left: 110px;}
.rabbit-6{top: 140px;left: 253px;}
.rabbit-7{top: 180px;left: 9px;}
.rabbit-8{top: 180px;left: 63px;}
.rabbit-9{top: 190px;left: 210px;}
.rabbit-10{top: 190px;left: 238px;}
/*猫女郎*/
.catgirl{height:1324px;background: url("images/catbg.jpg") no-repeat center}
.catgirl ul{position: relative;margin: 0 auto;width: 1094px;overflow: hidden; padding-top: 54px;}
.catgirl ul li{position: relative;float:left;list-style: none;}
.m23{margin-left: 23px; }
.m14{margin-left: 14px; }
.m10{margin-left: 10px; }
.price{position: absolute;color: #e59304;}
.price span{font-size: 20px;}
.price label{font-size: 40px;font-weight: 900;padding-right: 10px;}
.price del{color: #fff; font-size: 18px;}
.cat-1{top: 110px; left: 3px;}
.cat-2{top: 110px;left: 72px;}
.cat-3{top: 130px;left: 172px;}
.cat-4{top: 130px;left: 190px;}
.cat-5{top: 140px;left: 2px;}
.cat-6{top: 140px;left: 78px;}
.cat-7{top: 160px;left: 182px;}
.cat-8{top: 160px;left: 314px;}
.cat-9{top: 180px; left: 2px;}
.cat-10{top: 170px;left: 48px;}
/*制服诱惑*/
.uniform{margin-bottom: 40px;}
.uniformtitle{margin: 0 2px 0 auto;height:792px;background: url("images/uniformtitle.jpg") no-repeat center}
.uniformcontent{margin:0 auto;width:1200px;overflow: hidden;}
.uniformcontent li{float: left;width: 290px;height: 420px;list-style:none;text-align: left;background: url("images/yellowbg.png") no-repeat center}
.phonedetail{margin: 0 auto;width: 230px;height: 230px;}
.phonedetail img{margin:30px auto;width:230px;height: 230px;}
.phonedetail a,.phonedetail p span{color:#fff}
.phonedetail p span{font-size: 13px;}
.phonedetail p{}
.phonedetail p label{color:#d8330e;font-size: 13px;}
.phonedetail p b{color:#d8330e;font-size: 26px;}
.slim{padding: 4px 0;font-size:12px;}
.phonedetail p a{margin: 7px 0 0 8px; display: inline-block; background-color: #e59304; padding: 5px 10px;border-radius: 4px;font-size: 18px;font-weight: 600;}
.bold,.slim{display: block;}
.bold{font-size:22px;}
/*vr*/
.vrtitle{height:507px;background: url("images/vrtitle.jpg") no-repeat center}
.vrcontent{margin:0 auto;width:1200px;overflow: hidden;}
.vrcontent li{float: left;width: 290px;height: 420px;list-style:none;background: url("images/bluebg.png") no-repeat center}
/*回到顶部*/
.bottomtop{margin: 80px auto;width: 240px;height: 118px;background: url("images/bottomtop.jpg") no-repeat center}
.bottomtop a{display: block;width: 249px;height: 113px;}
/*弹窗*/
.popup{z-index: 9999;position: fixed;top: 0;width: 100%;height: 100%;display: none;background-color: #000;-moz-opacity:0.8;opacity:0.8;filter:alpha(opacity=80)}
.popup1{z-index: 99999;position:fixed;top:20%;left:30%;width:703px;height: 431px;display: none;background: url('images/popup1.png') no-repeat}
.popup2{z-index: 99999;position:fixed;top:20%;left:30%;width:703px;height: 431px;display: none;background: url('images/popup2.png') no-repeat}
.popup3{z-index: 99999;position:fixed;top:20%;left:30%;width:709px;height: 427px;display: none;background: url('images/popup3.png') no-repeat}
.popup4{z-index: 99999;position:fixed;top:20%;left:30%;width:710px;height: 431px;display: none;background: url('images/popup6.png') no-repeat}
.popup5{z-index: 99999;position:fixed;top:20%;left:30%;width:716px;height: 436px;display: none;background: url('images/popup5.png') no-repeat}
.popup6{z-index: 99999;position:fixed;top:20%;left:30%;width:701px;height: 432px;display: none;background: url('images/popup4.png') no-repeat}
.useout{z-index: 99999;position:fixed;top:20%;left:30%;width:708px;height: 293px;display: none;background: url('images/useout.png') no-repeat}
.notenough{z-index: 99999;position:fixed;top:20%;left:30%;width:708px;height: 297px;display: none;background: url('images/notenough.png') no-repeat}
.popup1 p{position:relative;left: 663px;
    top: -41px;width:44px;height:44px;background:url('images/popbtn.png') no-repeat}
.popup2 p{position:relative;    left: 653px;
    top: -41px;width:44px;height:44px;background:url('images/popbtn.png') no-repeat}
.popup3 p{position:relative;left: 669px;
    top: -42px;width:44px;height:44px;background:url('images/popbtn.png') no-repeat}
.popup4 p{position:relative;    left: 669px;
    top: -42px;width:44px;height:44px;background:url('images/popbtn.png') no-repeat}
.popup5 p{position:relative;left: 674px;top: -42px;width:44px;height:44px;background:url('images/popbtn.png') no-repeat}
.popup6 p{position:relative;left: 673px;top: -42px;width:44px;height:44px;background:url('images/popbtn.png') no-repeat}
.useout p{position:relative;left: 673px;top: -42px;width:44px;height:44px;background:url('images/popbtn.png') no-repeat}
.notenough p{position:relative;left: 673px;top: -42px;width:44px;height:44px;background:url('images/popbtn.png') no-repeat}
.popup1 a{display: block;  position: relative;  top: 129px;  left: 400px;  height: 50px;  width: 220px;}
.popproduct1{position: relative;  top: 135px;  left: 403px;  width: 210px;  height: 170px;  text-align: center;}
.popup2 a{display: block;  position: relative;  top: 129px;  left: 392px;  height: 50px;  width: 220px;}
.popproduct2{position: relative;  top: 135px;  left: 403px;  width: 210px;  height: 170px;  text-align: center;}
.popinfo{display: block;  font-size: 14px;  font-weight: 600;  color: #585858;}
.popprice{display: block; position: relative; top: -2px; font-size: 23px;  color: #fa3d4b;  font-weight: 600;}
/* .popup3 a{display: block;position: relative;top: 168px;left: 406px;height: 69px;width: 225px;} */
.popup4 a{display: block;  position: relative;top: 131px;left: 404px;  height: 50px;  width: 220px;}
.popproduct4{position: relative;top: 123px;left: 409px;  width: 210px;  height: 170px;  text-align: center;}
.popup5 a{display: block;  position: relative;top: 131px;left: 404px;  height: 50px;  width: 220px;}
.popproduct5{position: relative;top: 135px;left: 409px;  width: 210px;  height: 170px;  text-align: center;}
.popup6 a{display: block;  position: relative;top: 131px;left: 399px;  height: 50px;  width: 220px;}
.popproduct6{position: relative;top: 135px;left: 409px;  width: 210px;  height: 170px;  text-align: center;}
.productimg{width:100px;height:100px;}

.lotterybox ul li.random_current{ opacity: .4;-moz-opacity:0.4;filter:alpha(opacity=40)}
.lotterybox ul li.active{opacity: 1;filter:alpha(opacity=100);background-color: #000}
/*导航*/
.nav{position: fixed;display: none;padding-top: 95px;right: 0;top: 165px;width: 240px;height: 350px;background: url('images/nav1.png') no-repeat;}
.nav a{display: block;margin: 0 auto;width: 105px;height: 47px;
}