/*头部*/
.ok_head{width:100%;padding:14px 4%;line-height:.3rem;}
.ok_head_item{display:block;width:.3rem;height:.3rem;background-repeat:no-repeat;background-size:.33rem auto;background-image: url('../images/public/comesee.png');}
.ok_search{margin-right:7.4%;background-position:0 .04rem;}
.ok_cart{margin-left:7.4%;background-position:0 -.33rem;}
.ok_head_text{font-size: .28rem;}
.ok_head_on{color:#ef4f3e!important;}
.ok_head_on:after{content: '';position:absolute;bottom:-.05rem;left:.18rem;width:.18rem;height: 0;border:1px solid #ef4f3e;}
.ok_head .weui-flex__item{text-align: center;}
.ok_head .weui-flex__item span{display: block;position:relative;margin:0 auto;width:.6rem;height:.36rem;color:#555;}
/*内容*/
.ok_article_item{text-align: center;}
.ok_articel_title{font-size: .30rem;color:#333;font-weight: 400;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.ok_articel_info{padding:3.2% 4% 1.3%;margin-bottom:4%;background-color:#fff;border-bottom:1px solid #eaeaea;}
.ok_border_r{display: inline-block;margin:0 .1rem;vertical-align:middle;width:0;height:.26rem;border-right:2px solid #818181;}
.ok_articel_date{text-align: right;color:#555;font-size: .2rem;}
.ok_loadmore{padding:5.47% 0;line-height:.31rem;text-align: center;margin: -4% 0 4%;background-color: #fff;}
.ok_loadmore a{font-size:.3rem;color:#777;}
.ok_loadmore img{display: inline-block;width: .51rem;padding-left:.2rem;vertical-align: top;}
/*头部动画*/
.ok_slider{position:relative;min-height:1.47rem;overflow: hidden;}
.ok_slider ul,.ok_slider li,.ok_slider img{position:absolute;top:0;left:0;width:100%;height:100%;}
.ok_slider img{border:none;}
.ok_slider .dot{z-index:4;position: absolute;left:0;bottom:.1rem;width:100%;text-align: center;}
.ok_slider .dot span{display: inline-block;width: 0.2rem;height: 0.2rem;margin-left: 0.1rem;background: rgba(0, 0, 0, 0.2);  border-radius: 100%;}
.ok_slider .dot span.cur{background-color: #fff;}

